.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.c-header{
    color: rgba(117, 117, 117, 1);
}
.header-g{
    margin-right: 5%;
}
.header-g-t{
    margin-top: 33px;
}
.height{
    height: 20;
}
body{
    margin-right: 0;
}
.header-g-l{
    margin-left: 5%;
}
.ge{
    font-size: 32px;
    font-weight: 750;
}
.t-center{
    text-align: center;
}
.pic{
    border-radius: 50%;
    width: 25px;
}
.p-center{
    align-items: center;
}