.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.c-header{
    color: rgba(117, 117, 117, 1);
}
.header-g{
    margin-right: 5%;
}
.header-g-t{
    margin-top: 33px;
}
.height{
    height: 20;
}
body{
    margin: 0;
}
.header-g-l{
    margin-left: 5%;
}
.ge{
    font-size: 32px;
    font-weight: 750;
}
.t-center{
    text-align: center;
}
.pic{
    border-radius: 50%;
    width: 25px;
}
.p-center{
    align-items: center;
}
.fz{
 font-size: 18px;
}
.container{
    width: 50%;
  border: green solid 1px;
}
.d-flex-c{
    display: flex;
    flex-direction: column;
}
.fz-2{
    font-size: 25px;
}
#s-image{
    border-radius: 50%;
   height: 40px;
  }
  footer{
      background-color: #271f1f57;
      text-align: center;
      margin-bottom: 0;
  }
  .g-p-m{
      margin-top: 1%;
  }
  .c-o-p{
   color: rgba(39, 31, 31, 0.342);
  }
  .fz-3{
      font-size: 36px;
  }